@charset "utf-8";
/* CSS Document */
p {
	color: green;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 10px
}
.paragraf_2 {color:darkcyan; background-color: rgba(255, 255, 255, 0.5)} 
.novi_blok {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkblue;
}
span {color: #FF5C00;}
body{
	background-image: url("background.jpg");
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray;
}
img {
	height: 450px;
}